@model List<PoleChudes.Models.Models.WordModel>

@{
    ViewData["Title"] = "AllWords";
}

<h1>AllWords</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Админ
            </th>
            <th>
                Вопрос
            </th>
            <th>
                Слово
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
        </tr>
}
    </tbody>
</table>
